#include "../include/resource.hpp"

IDI_SUPERN          ICON        "../../assets/icons/icon_add.ico"
IDI_SUPERY          ICON        "../../assets/icons/icon_sub.ico"
IDI_APP             ICON        "../../assets/icons/icon_app.ico"
IDI_UP              ICON        "../../assets/icons/icon_up.ico"
IDI_REFRESH         ICON        "../../assets/icons/icon_refresh.ico"
IDI_YES             ICON        "../../assets/icons/icon_yes.ico"
IDI_NO              ICON        "../../assets/icons/icon_no.ico"
IDI_NDIR            ICON        "../../assets/icons/icon_ndir.ico"
IDI_NFILE           ICON        "../../assets/icons/icon_nfile.ico"
IDI_DELETE          ICON        "../../assets/icons/icon_delete.ico"
IDI_RENAME          ICON        "../../assets/icons/icon_rename.ico"
IDI_COPY            ICON        "../../assets/icons/icon_copy.ico"
IDI_CUT             ICON        "../../assets/icons/icon_cut.ico"
IDI_PASTE           ICON        "../../assets/icons/icon_paste.ico"
