#include "resource.h"

IDI_APP             ICON        "resource/icon_app.ico"
IDI_UP              ICON        "resource/icon_up.ico"
IDI_REFRESH         ICON        "resource/icon_refresh.ico"
IDI_YES             ICON        "resource/icon_yes.ico"
IDI_NO              ICON        "resource/icon_no.ico"
IDI_NDIR            ICON        "resource/icon_ndir.ico"
IDI_NFILE           ICON        "resource/icon_nfile.ico"
IDI_DELETE          ICON        "resource/icon_delete.ico"
IDI_RENAME          ICON        "resource/icon_rename.ico"
IDI_COPY            ICON        "resource/icon_copy.ico"
IDI_CUT             ICON        "resource/icon_cut.ico"
IDI_PASTE           ICON        "resource/icon_paste.ico"
